version: "3.9"
services:
  nginx:
    build: ../Nginx
    image: 'openai-nginx'
    ports:
      - 8888:80
    depends_on:
      - web
      - api
    restart: always
  web:
    build: ../OpenAI-Audio-Summarizer
    image: 'openai-frontend'
    ports:
      - 5173:5173
    depends_on:
      - api
    env_file:
      - ../OpenAI-Audio-Summarizer/.env.docker
  api:
    build: .
    image: 'openai-backend'
    ports:
      - 3000:3000